<link rel="stylesheet" href="/css/comment.css">
<li id="comment-<%=comment._id%>" type="none">
    <div class="home-comment">
        <div class="home-comment-delete">
            <% if(locals.user  &&  locals.user.id==comment.user._id){%>
                <a class="delete-comment-button" href="comments/destroy/<%= comment.id%>"><h5><i class="fa-solid fa-xmark" style="color: #dadadc;"></i></h5></a>
            <%}%>
        </div>
        
        <div class="home-comment-data">
            <p class="home-comment-content">
                <%= comment.content %>
            </p>
            <p class="home-comment-name">
                <%= comment.user.name %>
            </p>
            
            
        </div>
        <div class="home-comment-like">
            <% if (locals.user){ %>
                <a class="toggle-like-button" data-likes="<%= comment.likes.length %>" href="/likes/toggle/?id=<%=comment._id%>&type=Comment">
                     <h5><%= comment.likes.length %> <i class="fa-solid fa-thumbs-up" style="color: #dadadc;"></i></h5>   
                </a>
            <% }else{ %>
                <h5><%= comment.likes.length %> <i class="fa-solid fa-thumbs-up" style="color: #dadadc;"></i></h5>
                
            <% } %>
        </div> 
    </div>
</li>
