<link rel="stylesheet" href="/css/post.css">
<li id="post-<%= post._id%>" type="none"  class="post-li"> 
    <div class="home-post">
        <div class="home-post-delete">
            <% if(locals.user  &&  locals.user.id==post.user.id){%>
            
                <a class="delete-post-button" href="posts/destroy/<%= post.id%>"><h3><i class="fa-solid fa-xmark" style="color: #dadadc;"></i></h3></a>
            
            <%}%>
        </div>
        <div class="home-post-data">
            <p class="home-post-content">
                <%= post.content %>
            </p>
            <p class="home-post-name">
                <%= post.user.name %>
            </p>
            

        </div>
        
        <div class="home-post-like">
            <% if (locals.user){ %>
                <a class="toggle-like-button" data-likes="<%= post.likes.length %>" href="/likes/toggle/?id=<%=post._id%>&type=Post">
                       <h3><%= post.likes.length %> <i class="fa-solid fa-thumbs-up" style="color: #dadadc;"></i></h3> 
                </a>
            <% }else{ %>
                <h3><%= post.likes.length %> <i class="fa-solid fa-thumbs-up" style="color: #dadadc;"></i></h3>
                
            <% } %>
        </div>
    </div>
        
        
            <!-- study about the data attribute -->
        
            
            <h5>Comment</h5>
    
    <div class="post-comments">
        <% if(locals.user){%>
            <form id="post-<%= post._id %>-comments-form" action="/comments/create"   method="POST">
                <input type="text" name="content" placeholder="add comment to the post" required> 
                <input type="hidden" name="post" value="<%= post._id%>">
                <input type="submit" class="form-submit-button" value="add comment">
            </form>
        <%}%>
    
    <div class="post-comments-list">
        <ul id="post-comments-<%= post._id%>">
            <% for(comment of post.comments){%>
                <%- include('_comments')%>
            <%}%>
        </ul>
    </div>
</div>
</li>