    <link rel="stylesheet" href="/css/profile.css">
    <div class="profile-div">
        <h1>Reach Out / <%=title%></h1>
        <img src="<%= user.avatar%>" alt="<%= user.name%>" width="100">
    

        <% if(user.id==profile_user.id){%>
          <form action="/user/update/<%= profile_user.id%>" enctype="multipart/form-data"  method="POST"><br>
            <input type="text" placeholder="Your name" name="name" value="<%= profile_user.name%>" required><br>
            <input type="email" placeholder="Your email" name="email" value="<%= profile_user.email%>" required><br>
            <input type="file" name="avatar" placeholder="profile picture"><br>
            <input type="submit" value="update">
          </form>
        <%}else{%>
          <p><%= profile_user.name%></p>  
          <p><%= profile_user.email%></p>  
        <%}%>

    </div>
    